/* src/index.css */

/* ------------------ */
/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------ */
/* Custom global styles */

:root {
  --main-bg: #ccceb1;
  --main-text: rgba(53, 14, 14, 0.87);
  --accent-color: #646cff;
  --button-bg: #493f3f;
  --button-hover: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--main-text);
  background-color: var(--main-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--button-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ------------------ */
/* Dark / Light mode support */
@media (prefers-color-scheme: light) {
  :root {
    --main-bg: #ffffff;
    --main-text: #213547;
    --accent-color: #646cff;
    --button-bg: #f9f9f9;
    --button-hover: #747bff;
  }
}
* {
  transition: all 0.7s ease-in-out; 
}
